<div class="text-center">
  <h1><%= @user.email %></h1>

  <% if @user == current_user %>
    <p class="buffer-top">
      <%= link_to 'Редактировать профиль', edit_user_path(@user), class: 'btn btn-default' %>
    </p>
  <% end %>

</div>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>

